<!-- Right Icon menu Sidebar -->
<div class="navbar-right">
  <ul class="navbar-nav">
    <li><a href="#search" class="main_search" title="Search..."><i class="zmdi zmdi-search"></i></a></li>
    <li class="dropdown">
      <a href="javascript:void(0);" class="dropdown-toggle" title="App" data-toggle="dropdown" role="button"><i class="zmdi zmdi-apps"></i></a>
      <ul class="dropdown-menu slideUp2">
        <li class="header">Shortcuts</li>
        <li>
          <ul class="menu app_sortcut list-unstyled">
            <li>
              <a href="/editProduct">
                <div class="icon-circle mb-2 bg-blue"><i class="zmdi zmdi-shopping-cart"></i></div>
                <p class="mb-0">Add Product</p>
              </a>
            </li>
            <li>
              <a href="/editPromotion">
                <div class="icon-circle mb-2 bg-green"><i class="zmdi zmdi-money-off"></i></div>
                <p class="mb-0">Create Promotion</p>
              </a>
            </li>
            <li>
              <a href="/addCode">
                <div class="icon-circle mb-2 bg-purple"><i class="zmdi zmdi-tag"></i></div>
                <p class="mb-0">Add Promo Code</p>
              </a>
            </li>
            <li>
              <a href="/bggImport">
                <div class="icon-circle mb-2 bg-orange"><i class="zmdi zmdi-plus"></i></div>
                <p class="mb-0">Import Games</p>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
        <i class="zmdi zmdi-chart"></i>
        <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
      </a>
      <ul class="dropdown-menu slideUp2">
        <li class="header">Daily Report</li>
        <li>
          <ul class="menu tasks list-unstyled">
            <li>
              <div class="progress-container progress-success">
                <span class="progress-badge">Revenue</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="progress-value">${{dailyReport.revenue | number : '1.2-2'}}</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="progress-container progress-warning">
                <span class="progress-badge">Canceled</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="progress-value">{{dailyReport.canceled}}</span>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="progress-container  progress-primary">
                <span class="progress-badge">Orders</span>
                <div class="progress">
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    <span class="progress-value">{{dailyReport.orders}}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a class="mega-menu" title="Sign Out" (click)="logout()"><i class="zmdi zmdi-power"></i></a></li>
  </ul>
</div>
