<section class="content">
  <div class="body_scroll">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>Product Details</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard"><i class="zmdi zmdi-home"></i> Board Games Journal</a></li>
            <li class="breadcrumb-item">Products</li>
            <li class="breadcrumb-item active">Product Details</li>
          </ul>
          <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12">
          <div class="card">
            <div class="body">
              <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-12">
                  <div class="preview preview-pic tab-content">
                    <div class="tab-pane active" id="product_1"><img src="{{game.imageUrl}}" class="img-fluid" alt="" style="max-height: 300px; display: block; margin: auto;"/></div>
                  </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-12">
                  <div class="product details">
                    <h3 class="product-title mb-0">{{game.title}}</h3>
                    <h5 class="price mt-0" *ngIf="game.price != game.newPrice">Old Price: <span class="col-red" style="text-decoration:line-through;">${{game.price | number : '1.2-2'}}</span></h5>
                    <h5 class="price mt-0" *ngIf="game.price == game.newPrice">Old Price: <span class="col-green">${{game.price | number : '1.2-2'}}</span></h5>
                    <h5 class="price mt-0" *ngIf="game.price != game.newPrice">Current Price: <span class="col-green">${{game.newPrice | number : '1.2-2'}}</span></h5>
                    <h5 class="price mt-0">
                      Stock: <span *ngIf="game.stock > 3"><span class="col-green">In Stock</span></span>
                      <span *ngIf="game.stock > 0 && game.stock <= 3"><span class="col-amber">Low Stock</span></span>
                      <span *ngIf="game.stock == 0"><span class="col-red">Out Of Stock</span></span>
                    </h5>
                    <hr>
                    <p class="product-description">{{game.description}}</p>
                    <div class="action">
                      <button class="btn btn-primary waves-effect" type="button" (click)="edit()">Edit</button>
                      <button class="btn btn-danger waves-effect" type="button" (click)="delete()">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="card">
            <div class="body">
              <ul class="nav nav-tabs">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About</a></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <div class="body">
              <div class="tab-content">
                <div class="tab-pane active" id="about">

                  <ul>
                    <li><span>Players:</span> {{game.minPlayers}} - {{game.maxPlayers}}</li>
                    <li><span>Year of release:</span> {{game.year}}</li>
                    <li><span>Playing time:</span> {{game.playingTime}} min</li>
                    <li><span>Product type:</span> <span *ngIf="game.type == 'boardgame'">Board Game</span><span *ngIf="game.type == 'boardgameexpansion'">Expansion</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
