<div id="tt-pageContent">
  <div class="tt-offset-35 container-indent">
    <div class="container">
      <div class="row tt-services-listing">
        <div class="col-xs-12 col-md-6 col-lg-4">
          <a href="faq.html" class="tt-services-block">
            <div class="tt-col-icon">
              <i class="icon-f-48"></i>
            </div>
            <div class="tt-col-description">
              <h4 class="tt-title">FREE SHIPPING</h4>
              <p>Free shipping on all US order or order above $99</p>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <a href="faq.html" class="tt-services-block">
            <div class="tt-col-icon">
              <i class="icon-f-35"></i>
            </div>
            <div class="tt-col-description">
              <h4 class="tt-title">SUPPORT 24/7</h4>
              <p>Contact us 24 hours a day, 7 days a week</p>
            </div>
          </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <a href="faq.html" class="tt-services-block">
            <div class="tt-col-icon">
              <i class="icon-e-09"></i>
            </div>
            <div class="tt-col-description">
              <h4 class="tt-title">30 DAYS RETURN</h4>
              <p>Simply return it within 24 days for an exchange.</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="container-indent0">
    <div class="container">
      <div class="row flex-sm-row-reverse tt-layout-promo-box">
        <div class="col-sm-12 col-md-6">
          <div class="row">
            <div class="col-sm-6">
              <a href="/products?maxPrice=50" class="tt-promo-box tt-one-child hover-type-2">
                <img src="assets/images/promo/under50.png" alt="">
                <div class="tt-description">
                  <div class="tt-description-wrapper">
                    <div class="tt-background"></div>
                    <div class="tt-title-small">UNDER $50</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="col-sm-6">
              <a href="/products?maxPrice=100" class="tt-promo-box tt-one-child hover-type-2">
                <img src="assets/images/promo/under100.png" alt="">
                <div class="tt-description">
                  <div class="tt-description-wrapper">
                    <div class="tt-background"></div>
                    <div class="tt-title-small">UNDER $100</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <a href="/products?type=boardgameexpansion" class="tt-promo-box tt-one-child">
                <img src="assets/images/promo/expansions.png" alt="">
                <div class="tt-description">
                  <div class="tt-description-wrapper">
                    <div class="tt-background"></div>
                    <div class="tt-title-large">EXPANSIONS</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <a href="/products?type=boardgame" class="tt-promo-box">
            <img src="assets/images/promo/boardgames.png" alt="">
            <div class="tt-description">
              <div class="tt-description-wrapper">
                <div class="tt-background"></div>
                <div class="tt-title-large">BOARD GAMES</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
