<section class="content">
  <div class="body_scroll">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>Orders List</h2>
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard"><i class="zmdi zmdi-home"></i> Board Games Journal</a></li>
            <li class="breadcrumb-item">Orders</li>
            <li class="breadcrumb-item active">Orders List</li>
          </ul>
          <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
          <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"><i class="zmdi zmdi-arrow-right"></i></button>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card state_w1">
            <div class="body d-flex justify-content-between">
              <div>
                <h5>{{stats.total}}</h5>
                <span>Total Orders</span>
              </div>
              <div class="sparkline" data-type="bar" data-width="97%" data-height="55px" data-bar-Width="3" data-bar-Spacing="5" data-bar-Color="#46b6fe">5,2,3,7,6,4,8,1</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card state_w1">
            <div class="body d-flex justify-content-between">
              <div>
                <h5>{{stats.pending}}</h5>
                <span>Pending</span>
              </div>
              <div class="sparkline" data-type="bar" data-width="97%" data-height="55px" data-bar-Width="3" data-bar-Spacing="5" data-bar-Color="#FF9948">8,2,6,5,1,4,4,3</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card state_w1">
            <div class="body d-flex justify-content-between">
              <div>
                <h5>{{stats.canceled}}</h5>
                <span>Canceled</span>
              </div>
              <div class="sparkline" data-type="bar" data-width="97%" data-height="55px" data-bar-Width="3" data-bar-Spacing="5" data-bar-Color="#ee2558">4,4,3,9,2,1,5,7</div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="card state_w1">
            <div class="body d-flex justify-content-between">
              <div>
                <h5>{{stats.finished}}</h5>
                <span>Finished</span>
              </div>
              <div class="sparkline" data-type="bar" data-width="97%" data-height="55px" data-bar-Width="3" data-bar-Spacing="5" data-bar-Color="#04BE5B">7,5,3,8,4,6,2,9</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="card project_list">
            <div class="table-responsive">
              <table class="table table-hover theme-color c_table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Date placed</th>
                    <th>Date delivered</th>
                    <th>Value</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of pageOfItems">
                    <td><a href="/order?id={{order.id}}"><strong>{{order.id}}</strong></a></td>
                    <td>{{order.firstName}} {{order.lastName}}</td>
                    <td>{{order.datePlaced | date: 'MMM d, y, h:mm:ss a'}}</td>
                    <td>{{order.dateDelivered | date: 'MMM d, y, h:mm:ss a'}}</td>
                    <td>${{order.total | number : '1.2-2'}}</td>
                    <td>
                      <span class="badge badge-warning" *ngIf="order.status == 0">Pending</span>
                      <span class="badge badge-info" *ngIf="order.status == 1">In Transit</span>
                      <span class="badge badge-success" *ngIf="order.status == 2">Finished</span>
                      <span class="badge badge-danger" *ngIf="order.status == 3">Canceled</span>
                    </td>
                    <td>
                      <a href="/editOrder?id={{order.id}}" class="btn btn-primary waves-effect waves-float btn-sm waves-blue" *ngIf="order.status < 2"><i class="zmdi zmdi-edit"></i></a>
                      <a href="javascript:void(0);" class="btn btn-info waves-effect waves-float btn-sm waves-teal" *ngIf="order.status == 0" (click)="updateStatus(order, 1)"><i class="zmdi zmdi-truck"></i></a>
                      <a href="javascript:void(0);" class="btn btn-success waves-effect waves-float btn-sm waves-green" *ngIf="order.status == 1" (click)="updateStatus(order, 2)"><i class="zmdi zmdi-check"></i></a>
                      <a href="javascript:void(0);" class="btn btn-danger waves-effect waves-float btn-sm waves-red" *ngIf="order.status < 2" (click)="updateStatus(order, 3)"><i class="zmdi zmdi-close"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card">
            <div class="body">
              <jw-pagination [items]="orders" (changePage)="onChangePage($event)"></jw-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
